h5 {
  color: white;
  font-weight: 200;
}

.entries {
  margin: 22px auto;
}

.entry {
  margin: 13px auto;
  color: darkslategray;
  font-size: 20px;
}

label {
  font-size: 16px;
  color: white;
}
