.card {
  background: rgba(255, 255, 255, 0.5);
}

.card .card-title.survey-title {
  font-weight: 700;
  color: rgb(73, 105, 105);
}
.card .card-content p.body {
  text-align: center;
  margin: 20px;
  font-size: 18px;
  color: darkslategray;
}

.dates {
  color: dimgray;
  font-weight: 200;
}

.survey .card-content {
  overflow: auto;
}

.card .card-content .dates p {
  margin: 0px 3px;
}

.dates p span {
  font-weight: 300;
}

@media screen and (max-width: 400px) {
  .dates p.left {
    clear: right;
  }
  .dates p.right {
    float: left !important;
  }
}

.card-action {
  text-align: center;
}

i.delete {
  color: darkslategrey;
}

i.delete:hover {
  opacity: 0.7;
  transition: 100ms;
}

.card .card-action a {
  font-weight: 900;
}

.card
  .card-action
  a.yes:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
  color: teal;
}

.card
  .card-action
  a.no:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
  color: red;
}

.no-data {
  margin: 20px 0px;
}

.no-data h6 {
  color: darkslategray;
}

.no-data p {
  color: darkslategrey;
  opacity: 0.7;
}

.card-action.YnN {
  opacity: 0.8;
}

.no-surveys {
  margin: 150px auto;
  color: white;
}

.no-surveys h5 {
  font-weight: 300;
}

.no-surveys .btn {
  margin: 22px auto;
  width: fit-content;
  display: flex;
  justify-content: center;
}
