.form-review {
  margin-top: 25px;
  overflow: auto;
}

.form-review h5 {
  color: white;
  font-weight: 200;
}

.entries {
  margin: 22px auto;
}

.entry {
  margin: 13px auto;
  color: darkslategray;
  font-size: 20px;
}

label {
  font-size: 16px;
  color: white;
}

.form-review button {
  margin: 5px;
}

@media screen and (max-width: 345px) {
  .form-review button.right {
    float: left !important;
  }
}