.modal {
  text-align: center;
}

.modal h4 span {
  font-weight: 300;
  color: darkslategray;
}

.modal-footer {
  display: flex;
  justify-content: center;
}

.modal .modal-footer .btn-flat {
  margin: 0px 7px;
}
