.card {
  background: rgba(255, 255, 255, 0.5);
}

.card-title {
  font-weight: 200px;
  color: darkslategrey;
  opacity: 0.8;
}

.card .card-content p.body {
  text-align: center;
  margin: 20px;
  font-size: 18px;
  color: darkslategray;
}

.dates {
  color: dimgray;
  font-weight: 200;
}

.card-action {
  text-align: center;
}

i.delete {
  color: darkslategrey;
}

i.delete:hover {
  opacity: 0.7;
  transition: 100ms;
}
