.brand-logo {
  font-weight: 900;
  text-shadow: 2px 0px 0px teal;
}

.credits {
  font-variant: all-petite-caps;
  font-size: 15px;
  font-weight: 400;
}

.sidenav {
  background-color: cadetblue;
}

.sidenav li > a.logout {
  background-color: indianred;
  color: white;
}

.sidenav li > a.logout:hover {
  opacity: 0.9;
  transition: 200ms;
}

.sidenav li > a.brand-logo {
  font-weight: 900;
  color: white;
  background-color: indianred;
  font-size: 22px;
}

.sidenav button {
  margin-bottom: 17px;
}

.sidenav li > a.credits {
  color: white;
  background-color: transparent;
}
