.landing {
  text-align: center;
  color: white;
}

.landing p {
  color: powderblue;
}

.header img {
  height: 65px;
  margin-top: 50px;
}

.googleBtn {
  margin-right: 13px;
  margin-bottom: -4px;
}
